.content {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(25, 26, 27); */
  background: url("home.png");
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 65, 57);
  width: 400px;
  height: 70px;
  position: relative;
  left: 35%;
  border-radius: 30px;
  color: aliceblue;
  font-size: 45px;
}
.select select {
  height: 40px;
  font-size: 15px;
}

.error {
    display: flex;
    position: relative;
  width: 500px;
  height: 400px;
  left: 35%;
  bottom: 50px;
}
/* .letter {
    position: absolute;
    top: 50px;
    
} */
